.user {
  box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 100%;
  
}

.avatar {
  border-radius: 50%;
  width: 80px;
  border: 4px solid #4374a5;
}

.user-data {
  font-size: 1.2rem;
  font-weight: 400;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #363636;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination__link {
  height: 5rem;
  margin: 3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  margin: 0.8rem;
  cursor: pointer;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
}

.paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 0 5px;
  text-decoration: none;
}

.pagination-active {
  color: #007bff;
}

.pagination-disabled {
  color: #5a6181;
}
